@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*  {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', Courier, monospace;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background:hsl(0, 0%, 100%);
}



/* Nav bar */
nav {
  background: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
 width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 100%);
  position: relative;
  width: 80%; 
  margin: 0 auto; 
}


@media (hover: hover) {
nav ul:hover {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding-bottom: 2px;
}

nav li:hover {
  padding: 24px 0px;
  list-style-type: none;
  font-size: 1rem;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  border-bottom: 2px solid white;
}
}

.nav li {
  display: flex;
  padding:24px 0px;
  list-style-type: none;
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  background: white;
  border-bottom: 4px solid transparent;
}



.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-links-mobile {
  display: none;
}



button {
  cursor: pointer;
  border: none;
  color: hsl(0, 0%, 98%);
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: 700;
}

.hamburger {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
}



/* Hero */



.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 9%;
  background-color: white;
}



header h1 {
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  font-size: 3.5rem;
  margin: 8px 0 24px 0;
}

header p {
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  line-height: 20px;
  font-size: 1rem;
  margin: 8px 0 24px 0;
}

.content {
display: flex;
flex-direction: column;
align-items: start;
}


header {
  min-width: 1440px;
  margin-top: -220px;
  margin-bottom: 64px;
  background-color: white;
}


/* Features */

section {
  background-color: hsl(220, 16%, 96%);
  min-width: 1440px;
  padding: 64px 0;
  margin-top: -200px;
}

.section {
  background-color: hsl(220, 16%, 96%);
  width: 80%;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 24px;
}

.features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px
}

.features-content {
  width: 50%;
  margin-bottom: 40px;
}

.section p {
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  line-height: 20px;
  font-size: 0.8rem;
  width: 90%;
}
  .section h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin: 18px 0px;
}

.section h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}

.articles {
  display: flex;
  gap: 18px;
  margin-top: 32px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 4px;
}

.article-img {
  width: 100%;
  border-radius: 4px 4px 0px 0px ;
}

.article-content {
  padding:18px;
}

article {
  background-color: hsl(0, 0%, 98%);
  margin-top: -4px;
  padding: 120px 0px;
  min-width: 1440px;
}

.article-body {
  max-width: 80%;
  margin: 0 auto; 
}


article p {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  line-height: 20px;
}
article h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  margin: 8px 0;
  cursor: pointer;
}

article h4:hover {
  color:  hsl(136, 65%, 51%);
  cursor: pointer;
}

article h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}




footer {
  background-color: hsl(233, 26%, 24%);
  min-width: 1440px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%; 
  max-width: 100%;
  margin: 0 auto; 
  padding: 64px 0px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

footer li {
  list-style: none;
  color: white;
  cursor: pointer;
  gap: 18px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  color: white;
  cursor: pointer;
  gap: 18px;
}

footer li:hover {
  list-style: none;
  color:  hsl(136, 65%, 51%);
  cursor: pointer;
}
.footer-img {
  display: inline-flex;
}

.footer-icons {
  display: flex;
  gap: 18px;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer p {
  font-size: 0.6rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  line-height: 20px;
}


@media (max-width: 450px), (hover: none) and (pointer: coarse) {
  * {
    margin: 0 auto;
    padding: 0;
    font-family: 'Public Sans', Courier, monospace;
    text-align: center;
  }


  .nav {
    display: flex;
    min-height: 68.8px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    margin: 0 auto; 
  }


  
    nav ul:hover {
      background: white;
      padding-bottom: 0px;
    }
    
    nav li:hover {
      padding: 12px 0px;
      list-style-type: none;
      font-size: 1rem;
      color: hsl(0, 0%, 0%);
      border-bottom: 0px solid transparent;
    }
    
    .hamburger-close {
      padding-left: 6px;
    }
    
    .nav li {
      display: block;
      padding: 12px 0px;
      list-style-type: none;
      font-size: 1rem;
      color: hsl(0, 0%, 0%);
      border: 0px solid transparent;
    }
    


.nav ul {
  padding: 0px;
}


  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    margin: 90px 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0px 100px 100px 50px rgba(0.3, 0.6, 0.7, 0.3);


    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    margin: 80px 5%;
    height: 35vh;
  }


  nav button {
    display: none;
  }
  
  .hamburger {
    position: relative;
    display: inline-flex;
  }

  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color:  white;
    margin: 0 auto;
    width: 100%;
  }

  header {
    margin-top: -170px;
    margin-bottom: 300px;
    min-width: 100%;
  }

  section {
    background-color: hsl(220, 16%, 96%);
    min-width: 100%;
    margin: auto;
  }

  .section {
    width: 100%;
  }

  .bg-desktop {
    width: 100%;
    margin-left: -120px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
   margin: 0;
   padding: 12px;
    }

    header h1 {
      font-weight: 400;
      color: hsl(233, 26%, 24%);
      font-size: 3rem;
      margin: 8px 0 24px 0;
      width: 100%;
    }
    
    header p {
      font-weight: 400;
      color: hsl(233, 8%, 62%);
      line-height: 20px;
      font-size: 1rem;
      margin: 8px 0 24px 0;
    }

  .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-bottom: 32px;
    gap: 24px;
  }
  

  .features-content {
    width: 100%;
  }
 

  .articles {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 32px;
  }

  article {
    min-width: 100%;
  }

  .article-body {
    width: 100%;
  }

  footer {
    min-width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 100%; 
    max-width: 100%;
    margin: 0 auto; 
    /* padding: 32px 0px; */
  }

  .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.footer, li {
  background-color:rgba(255, 255, 255, 0);
}


.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
}